@media screen and (max-width: 767px) {
  body article #section h1 {
    margin-top: 0;  
}
body article #section {
    justify-content: center;
}
  body #blackout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #blackout button#cross_blackout {
    top: 3vh;
    right: 5vw;
    width: 8.5vw;
    height: 8.5vw;
  }
  body #blackout div.mobil_foto{
    display: block;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    top: 10vw;
    right: 1vw;
    background-position: center center;
    background-size: 90% 90%;
    background-color: red !important;
    border: none;
  }
  body #blackout .photo_group {
    display: none;
  }
  body #blackout #content {
    width: 83%;
    max-height: 40%;
  }
  body #blackout #content h5 {
    text-align: center;
    font-size: 6vw;
    margin-left: 0;
  }
  body #blackout #content .text_content.active {
    overflow-y: scroll;
    -webkit-mask-image: none;
            mask-image: none;
  }
  body #blackout #content .text_content.active p {
    font-size: 4vw;
  }
  body article #section h1 {
    font-size: 10vw;
  }
  body article #section h1.active {
    margin-top: 0;
  }
  body article #section p {
    width: 90%;
    font-size: 6vw;
    text-align: auto;
  }
  body article #section #but_start.active {
    width: 36vw;
    height: 9vh;
    font-size: 6vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: solid 2px #fff;
    border-radius: 7px;
    margin-top: 13vh;
  }
  body article #section #but_svg {
    width: 9.5vw;
    height: 9.5vw;
    bottom: 5vh;
  }
  body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main article:nth-child(1) {
    border-right: none;
    border-bottom: solid 2px #564343;
  }
  body main article:nth-child(2) {
    border-left: none;
    border-top: solid 2px #564343;
  }
  body main article {
    width: 90%;
    min-height: 50%;
  }
  body main article h3 {
    font-size: 9vw;
	margin-top: 5vw;
  }
  body main article h4 {
    font-size: 5vw;
    width: 60vw;
    margin-top: 2vh;
  }
  body main article a {
    width: 33vw;
    height: 7vh;
    font-size: 5vw;
    margin-top: 2vh;
	margin-bottom: 6vw;
    border: solid 3px #564343;
  }
  body aside.first_ch header {
    height: 17.7%;
	align-items: center;
  }
   body aside.first_ch #header_footer{
	   align-items: flex-end;
   }
  body aside.first_ch header h2 {
    font-size: 4.6vw;
	width: 70%;
	height: 48%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wrap_categories_pc_tablet {
 
    width: 50%;
  
}
  body aside.first_ch header #categories_pc_tablet {
    width: 37%;
    height: 54%;
  }
  body aside.first_ch .main_smartphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
    width: 100%;
  }
  body aside.first_ch .main_smartphone .but_arrows_carousel {
    position: absolute;
    left: auto;
    right: auto;
    width: 30vw;
    height: 3vh;
    background-color: transparent;
    border: none;
  }
  body aside.first_ch .main_smartphone #but_arrow_up {
    top: 0;
    background-image: url(../media/icons/triangle-up.svg);
    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 999;
  }
  body aside.first_ch .main_smartphone #but_arrow_down {
    bottom: 0;
    background-image: url(../media/icons/triangle-up.svg);
    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  body aside.first_ch .main_smartphone #but_arrow_down {
    bottom: 0;
  }
  body aside.first_ch .carousel_article_sm {
    -webkit-transition: translate 0.5s linear;
    transition: translate 0.5s linear;
  }
  body aside.first_ch #but_arrow_left, body aside.first_ch #but_arrow_right {
    display: none;
    visibility: hidden;
  }
  body aside.first_ch #carousel_screen_pc_tablet {
    
  }
  .map{
	  width: 400px ;
  }
  body aside.first_ch #carousel_screen_smartphone {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 100%;
    -webkit-transition: translate 0.5s linear;
    transition: translate 0.5s linear;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel {
    width: 100%;
    height: 82.4591503268vh;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner {
    width: 100%;
    height: 100%;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section .place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 59%;
    height: 40%;
	margin: 10px;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section .place div:nth-child(1) {
    height: 300px;
    border: solid 8px #564343;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section .place div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 116px;
    background-color: #564343;
    border-radius: 0 0 20px 20px;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section .place div:nth-child(2) h4 {
    font-size: 3.8vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #EED9AA;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section .place .clickable {
    cursor: pointer;
  }
  body aside.first_ch #carousel_screen_smartphone .carousel_sm_section .carousel .carousel-inner .carousel-item section .place div {
    width: 100%;
  }
  body aside.first_ch footer {
    height: 2.3%;
  }
  body aside.first_ch footer a {
    width: 14vw;
    height: 2em;
    border-radius: 4px 0 0 4px;
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%20fill='black'%3E%3Cpath%20d='M4.646%201.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201%200%20.708l-6%206a.5.5%200%200%201-.708-.708L10.293%208%204.646%202.354a.5.5%200%200%201%200-.708z'/%3E%3C/svg%3E");
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%20fill='black'%3E%3Cpath%20d='M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200z'/%3E%3C/svg%3E");
  }
  div#check_old_new{
	position: absolute;
	top: 15vh;
	display: flex;
	flex-direction: column;
	z-index: 100;
}
body aside.first_ch #carousel_screen_pc_tablet {
	display: none;
    }
	body aside.second_ch #carousel_screen_pc_tablet {
	display: flex;
    }
	
	body aside.first_ch header #categories_pc_tablet {
        width: 100%;
        height: auto;
    }
	#check_new, #check_old {
    font-size: 15px;
	margin: 3px;
	}
	#but_arrow_down{
		display: none;
	}
	body aside.second_ch header #categories_pc_tablet {
        width: 50%;
}
 body aside.first_ch #but_arrow_right2 {
    right: 5%;
 }
 body aside.first_ch #but_arrow_left2 {
    left: 5%;
 }
body header {
  align-items: flex-start; 
  
}
body #photo_switch.photo_switch_upp {
 display: none;
}
body #blackout #content h5 {
    max-width: 100%;
    width: auto;
}
}